<%= form_for([@noc, @noc.designations.build]) do |f| %>
	<div class="field">
		<%= f.label :'Example Designation' %> <br />
		<%= f.text_field :name %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>