<p>
  <b>Additional Info:</b>
  <%= add_info.name %>
</p>

<p>
  <%= link_to 'Destroy Title', [add_info.noc, add_info],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>