<p>
  <b>Duty Left Branch:</b>
  <%= duty_left_branch.name %>
</p>

<p>
  <%= link_to 'Destroy Duty Left Branch', [duty_left_branch.noc, duty_left_branch],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>