<p>
  <b>Duty Right Branch:</b>
  <%= duty_right_branch.name %>
</p>

<p>
  <%= link_to 'Destroy Duty Right Branch', [duty_right_branch.noc, duty_right_branch],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>